.layout {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  background-color: #578dde;
  color: #c6d6ed;
}

button {
  background-color: #578dde;
  color: #c6d6ed;
  border: 1px solid #c6d6ed;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4c83d9;
}

img {
  width: 300px;
  border-radius: 5px;
}